services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: kattika/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: kattika/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:
    image: redis:7.0
    container_name: redis  
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: kattika/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user 
    image: kattika/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: kattika/cart:v1
    container_name: cart
    depends_on: 
     - redis
     - catalogue
  shipping:
    build: ./shipping
    image: kattika/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: kattika/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: kattika/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:   
  default: 
    name: roboshop
    driver: bridge
    external: false # True if the network is created manually using docker network command.

volumes:
  mongodb: # docker volume create mongodb
  redis:
  mysql:
  rabbitmq:
